<h2><%= I18n.t('title', scope: 'devise.otp.confirmation') %></h2>
<p><%= I18n.t('explain', scope: 'devise.otp.confirmation') %></p>

<%- if recovery_enabled? %>
  <h3><%= I18n.t('title', scope: 'devise.otp.otp_tokens.recovery') %></h3>
  <p><%= I18n.t('explain', scope: 'devise.otp.otp_tokens.recovery') %></p>
  <p><%= link_to I18n.t('codes_list', scope: 'devise.otp.otp_tokens.recovery'), recovery_otp_token_for(resource_name) %></p>
  <p><%= link_to I18n.t('download_codes', scope: 'devise.otp.otp_tokens.recovery'), recovery_otp_token_for(resource_name, format: :text) %></p>
<% end %>

<%= link_to I18n.t('title', scope: 'devise.otp.otp_tokens'), otp_token_path_for(resource) %>
