<h2><%= I18n.t('title', scope: 'devise.otp.otp_tokens') %></h2>
<p><%= I18n.t('explain', scope: 'devise.otp.otp_tokens') %></p>

<%- if resource.otp_enabled? %>
  <p><%= button_to I18n.t('reset_otp', scope: 'devise.otp.otp_tokens'), @resource, method: :delete, data: { turbo: { method: :delete } } %></p>

  <p>
    <%= I18n.t('reset_explain', scope: 'devise.otp.otp_tokens') %>
    <strong><%= I18n.t('reset_explain_warn', scope: 'devise.otp.otp_tokens') %></strong>
  </p>

  <%= render partial: 'trusted_devices' if trusted_devices_enabled? %>
<%- else %>
  <p><%= link_to I18n.t('enable', scope: 'devise.otp.otp_tokens'), otp_token_path_for(resource, action: :new) %></p>
<% end %>
